body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

form {
    max-width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
input[type='year'],
input[type='url'],
input[type='number'],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input[type='submit'],
button[type='submit'] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type='submit']:hover,
button[type='submit']:hover {
    background-color: #45a049;
}

#error-message {
    margin-bottom: 10px;
}

a {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

input.year-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    margin: 25px;
    text-align: right;
    transition: color 0.3s ease;
    font-weight: bold;
}

.link:hover {
    color: #0056b3;
}

.caja {
    width: 90%;
    max-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .caja {
        width: 95%;
        max-width: none;
    }
}
